<app-header></app-header>
<br>
<ngx-ui-loader *ngIf="loader"></ngx-ui-loader>
<section>
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-8  mb-4 mb-lg-6" >
          <div class="card mb-3"  style="border-radius: .5rem;">
            <div class="row g-0">
              <div  *ngFor="let item of customer" class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img  [src]="item.imageUrl"
                  alt="Avatar" class="img-fluid my-5"  style="width: 80px;height:  100px;" />
                
        
                <h5 *ngFor="let item of customer">{{item.firstName}} {{item.lastName}}</h5>
                <form  [formGroup]="formvalue">
                  <label  class="custom-file-upload">
                    <input type="file" (change)="changeImage($event)"/>
                    Upload Image
                   
                  </label>
                 <br>
                 
                 <!-- <button type="submit" class="btn btn-primary btn-sm" (click)="changeImage()">Change</button> -->
              </form>
              
                
              </div>
              <div class="col-md-8" >
                <div class="card-body p-4">
                  <h6>Information
                    <i type="button" class="far fa-edit mb-2" style="padding-right: 100px;" routerLink="/edit-profile">Edit</i>
                  </h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">

                    <div class="col-6 mb-3">
                        <h6>Name</h6>
                        <p *ngFor="let item of customer" class="text-muted">{{item.firstName}} {{item.lastName}}</p>
                      </div>
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p *ngFor="let item of customer" class="text-muted">{{item.username}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Mobile</h6>
                      <p *ngFor="let item of customer" class="text-muted">{{item.mobile}}</p>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>Role</h6>
                        <p *ngFor="let item of customer" class="text-muted">{{item.role}}</p>
                      </div>
                  </div>
                 
                  <hr class="mt-0 mb-4">
                
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>