<app-header></app-header><br>
<section class="h-100 h-custom">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="">
                                    <div class="row d-flex justify-content-between align-items-center">
                                        <h1 class="fw-bold  text-black">Shopping Cart</h1>
                                    </div>
                                    <table class="table table-striped">
                                        <tr class="">
                                            <th class="" style="width:20%;">Image</th>
                                            <th class="" style="margin-left: 5px;">Product
                                            </th>
                                            <th class="">Quantity</th>
                                            <th class=""> Price</th>
                                            <th class="">Total Price</th>
                                            <th class=""></th>
                                        </tr>
                                        <tr class="" *ngFor="let row of getCartDetails">
                                            <td class="cart_image">
                                                <img src="{{row.imageUrl}}" class="img-fluid rounded-3"
                                                    alt="Cotton T-shirt">
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{row.title}}</h6>
                                                <!-- <h6 class="text-black mb-0">Cotton T-shirt</h6> -->
                                            </td>
                                            <td>
                                                <div style="display: flex; align-items:center">
                                                    <button class="btn btn-link px-2"
                                                        (click)="dec(row._id, row.quantity)">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                    <!-- <input id="form1" min="0" name="quantity"  type="number"
                                                    class="form-control form-control-sm" value="{{row.quanitity}}" /> -->
                                                    <b><span
                                                            class="form-control form-control-sm">{{row.quantity}}</span></b>

                                                    <button class="btn btn-link px-2"
                                                        (click)="inc(row._id, row.quantity)">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="mb-0">{{row.price}}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0">{{row.quantity * row.price | number}}</h6>
                                            </td>
                                            <td>
                                                <a (click)="removeItem(getCartDetails.id)" class="text-muted"><i
                                                        class="fas fa-times"></i></a>
                                            </td>
                                        </tr>
                                    </table>
                                    <div>
                                        <h6 class="mb-0"><a href="#!" class="text-body"><i
                                                    class="fas fa-long-arrow-alt-left me-1"></i>Back to shop</a></h6>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <div class="col-lg-3 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">items</h5>
                                        <h5>{{cartNumber}}</h5>
                                    </div>
                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Total price</h5>
                                        <h5>{{alltotal}}</h5>
                                    </div>
                                    <button type="button" class="btn btn-dark btn-block btn-lg"
                                        data-mdb-ripple-color="dark" routerLink="/checkout">Checkout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>