<nav class="navbar  fixed-top navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <b>
      <h3>SHOPCART</h3>
    </b>
  </div>
</nav>
<br>
<ngx-ui-loader *ngIf="loader"></ngx-ui-loader>
<section id="bg-image" class="vh-100 gradient-custom">
  <div class="container py-1 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body">
            <h3>Register Here</h3>
            <form [formGroup]="form">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" formControlName="firstName" id="firstName" class="form-control" />
                    <label class="form-label" for="firstName">First name</label>
                  </div>
                  <div
                    *ngIf="form.get('firstName')?.invalid && (form.get('firstName')?.dirty || form.get('firstName')?.touched)"
                    class="text-danger">
                    <div *ngIf="form.get('firstName')?.errors?.['required']">
                      *First Name is required.
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" formControlName="lastName" id="lastName" class="form-control" />
                    <label class="form-label" for="lastName">Last Name</label>
                  </div>
                  <div
                    *ngIf="form.get('lastName')?.invalid && (form.get('lastName')?.dirty || form.get('lastName')?.touched)"
                    class="text-danger">
                    <div *ngIf="form.get('lastName')?.errors?.['required']">
                      * Last Name is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" formControlName="username" id="lastName" class="form-control" />
                    <label class="form-label" for="lastName">Username</label>
                  </div>
                  <div
                    *ngIf="form.get('username')?.invalid && (form.get('username')?.dirty || form.get('username')?.touched)"
                    class="text-danger">
                    <div *ngIf="form.get('username')?.errors?.['required']">
                      * Username is required.
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="file" formControlName="file" id="lastName" (change)="onChange($event)"
                      class="form-control" />
                    <label class="form-label" for="lastName">Upload Image</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <input type="text" formControlName="mobile" class="form-control" id="birthdayDate" />
                    <label for="birthdayDate" class="form-label">Mobile</label>
                    <div
                      *ngIf="form.get('mobile')?.invalid && (form.get('mobile')?.dirty || form.get('mobile')?.touched)"
                      class="text-danger">
                      <div *ngIf="form.get('mobile')?.errors?.['required']">
                        * Mobile number is required.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="col-12">
                    <select class="select" style="width:290px; height: 39px;" formControlName="role">
                      <option value="1" disabled>Choose option</option>
                      <option>Admin</option>
                      <option>Customer</option>
                    </select>
                    <br>
                    <label class="form-label select-label">Role</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="password" formControlName="password" id="phoneNumber" class="form-control" />
                    <label class="form-label" for="phoneNumber">Password</label>
                  </div>
                  <div
                    *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)"
                    class="text-danger">
                    <div *ngIf="form.get('password')?.errors?.['required']">
                      * Password is required.
                    </div>
                    <div *ngIf="form.get('password')?.errors?.['pattern']">
                      Password must be minimum eight characters, at least one letter, one number and one special
                      character:
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="password" formControlName="confirm_password" id="phoneNumber" class="form-control" />
                    <label class="form-label" for="phoneNumber">Repeat Your Password</label>
                  </div>
                  <div
                    *ngIf="form.get('confirm_password')?.invalid && (form.get('confirm_password')?.dirty || form.get('confirm_password')?.touched)"
                    class="text-danger">
                    <div *ngIf="form.get('confirm_password')?.errors?.['required']">
                      * Enter your password again.
                    </div>
                    <div *ngIf="form.get('confirm_password')?.errors?.['confirmedValidator']">
                      Password and Confirm Password must be match.
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center text-lg-start">
                <button type="button" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="register()"
                  [disabled]="!form.valid">Register</button>
                &nbsp;&nbsp;
                <span class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a type="button" routerLink="/login"
                    class="link-danger">Login</a>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>