.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

#bg-image {
  background-image:
  linear-gradient(to bottom, rgba(241, 236, 240, 0.73), rgba(241, 236, 240, 0.73)),
  url('/assets/reg.jpg');
  background-size: cover;

}